<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Appointment App</title>
    
    <!-- Link to Tailwind CSS stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/main.css">

<body>
    <div class="flex flex-col min-h-[100dvh]">
        <!-- Header -->
        <header class="header-section px-4 lg:px-6 h-14 flex items-center">
            <a class="flex items-center justify-center" href="/" rel="ugc">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="h-6 w-6">
                    <path
                        d="m8 3 4 8 5-5 5 15H2L8 3z">
                    </path>
                </svg>
                <span class="sr-only">Acme Inc</span>
            </a>
            <nav class="navbar ml-auto flex gap-4 sm:gap-6">
                <a class="text-sm font-medium hover:underline underline-offset-4" href="/appointments" rel="ugc">Appointments</a>
                <a class="text-sm font-medium hover:underline underline-offset-4" href="#" rel="ugc">About</a>
                <a class="text-sm font-medium hover:underline underline-offset-4" href="#" rel="ugc">Contact</a>
            </nav>
        </header>
    </div>

    <div class="flex flex-col w-full min-h-screen">
        <header class="flex items-center h-16 px-4 border-b shrink-0 md:px-6">
            <div class="flex items-center space-x-5 ">
                <h1 class="font-semibold text-lg md:text-2xl">Appointments</h1>
                <button class="items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-white bg-black  h-9 rounded-md  mx-5 px-3 ml-auto">
                    Add appointment
                </button>
            </div>
            <div class="flex items-center w-full gap-4 md:ml-auto md:gap-2 lg:gap-4">
                <form class="flex-1 ml-auto sm:flex-initial">
                    <div class="relative">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="absolute left-2.5 top-2.5 h-4 w-4 text-gray-500 dark:text-gray-400"
                        >
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                        </svg>
                        <input
                            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px]"
                            placeholder="Search products..."
                            type="search"
                        />
                    </div>
                </form>
            </div>
        </header>
        <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
            <div class="border shadow-sm rounded-lg">
                <div class="relative w-full overflow-auto">
                    <table class="w-full caption-bottom text-sm">
                        <thead class="[&amp;_tr]:border-b">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]">
                                    Date
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Name
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Email
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Phone Number
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
                                    Message
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody class="[&amp;_tr:last-child]:border-0">
                          
                            <% if (users.length > 0) { %>
                                <% for (let user of users) { %>
                                  <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.createdAt %></td>
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium"><%= user.name %></td>
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.email %></td>
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.phone %></td>
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.message %></td>
                                    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 flex gap-2">
                                        <form action="/edit-appointments" method="POST">
                                            <input type="hidden" name="appointmentId" value="<%= user.id %>">
                                            <button type="submit" name="editBtn" id="editBtn" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground w-8 h-8">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="w-4 h-4"
                                                >
                                                    <path d="M4 13.5V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-5.5"></path>
                                                    <polyline points="14 2 14 8 20 8"></polyline>
                                                    <path d="M10.42 12.61a2.1 2.1 0 1 1 2.97 2.97L7.95 21 4 22l.99-3.95 5.43-5.44Z"></path>
                                                </svg>
                                                <span class="sr-only">Edit</span>
                                            </button>
                                        </form>
                                        <form action="/delete-appointments" method="POST">
                                            <input type="hidden" name="appointmentId" value="<%= user.id %>">
                                            <button type="submit" name="deleteBtn" id="deleteBtn" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground w-8 h-8">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="w-4 h-4"
                                                >
                                                    <path d="M3 6h18"></path>
                                                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                                                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                                                </svg>
                                                <span class="sr-only">Delete</span>
                                            </button>
                                        </form>
                                        
                                      </td>
                                  </tr>
                                <% } %>
                            <% } else { %>
                                <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                    <td class="px-10 py-10 text-left align-middle font-semibold text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"">
                                        No Appointments Found!
                                    </td>
                                </tr>
                                <% } %>
                            

                        </tbody>
                        
                    </table>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
            <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="h-6 w-6">
                    <path
                        d="m8 3 4 8 5-5 5 15H2L8 3z">
                    </path>
                </svg>
                <span class="text-xs font-semibold tracking-wide/[-0.025] text-gray-600 dark:text-gray-400">
                    Acme Inc
                </span>
            </div>
            <div class="flex gap-4 sm:gap-6">
                <a class="text-xs hover:underline underline-offset-4" href="#" rel="ugc">Terms of Service</a>
                <a class="text-xs hover:underline underline-offset-4" href="#" rel="ugc">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>
