<% if (users.length > 0) { %>
    <% for (let user of users) { %>
      <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.createdAt %></td>
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium"><%= user.name %></td>
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.email %></td>
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.phone %></td>
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0"><%= user.message %></td>
        <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 flex gap-2">
            <form action="/delete-appointments" method="POST">
                <input type="hidden" name="appointmentId" value="<%= user.id %>">
                <button type="submit" name="deleteBtn" id="deleteBtn" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground w-8 h-8">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="w-4 h-4"
                    >
                        <path d="M3 6h18"></path>
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                    </svg>
                    <span class="sr-only">Delete</span>
                </button>
            </form>
            
          </td>
      </tr>
    <% } %>
<% } else { %>
    <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
        <td class="px-10 py-10 text-left align-middle font-semibold text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[100px]"">
            No Appointments Found!
        </td>
    </tr>
    <% } %>
